html{
  font-size: 18px;
  font-family: Helvetica;
  /*width: 960px;*/
}


/*LOGO*/
.logo{
  display:flex;
  align-items: center;
  color:white;
  background-color: black;
  padding: 0.66rem 0;
}

.logo img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/*BANNER*/
.banner{
  /*border:10px solid green;*/
  border: 10px solid green;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.bannerblock{
  background-color: black;
  margin-top: 9rem;
  margin-left:7rem;
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  width: 20rem;
}

.banner h4{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.banner h1{
  color: white;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

/*NAVIGATION*/
.navigation{
  border:10px solid blue;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: firebrick;
  padding: 0.75px 0;
}

/*PRODUCT GRID*/
.product{
  border: 10px solid pink;

}

/*LOCATION*/
.location{
  border: 10px solid yellow;
}


/*HOURS*/

.hours{
  border: 10px solid grey;

}

footer{
  color: white;
  text-align: left;
  background-color: black;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
